<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{root}}/css/bulma.custom.css">
  <link rel="shortcut icon" href="{{root}}/img/fable.ico" />
  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
</head>

<body>
  {{{ navbar }}}
  {{{ body }}}
  <script>
    // Activate navbar burget button
    document.addEventListener('DOMContentLoaded', function () {
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>

</html>